.user-crud-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 5px 10px ;
    text-align: left;
    width: 100px;
}

.user-creation-form{
    /* display: flex; */
    margin-top: 10px;
}
input{
    width: 105px;
    margin: 2px;
}