p{
  color: rgb(0, 0, 0);
}
.app{
  text-align: center;
}

.header{
  background-color: antiquewhite;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body{
  display: flex;
}
.sidebar{
  width: 200px;
  height: 100vh;
  background-color: rgb(176, 213, 213);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
